<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.model.dao.AttractionDao">

	<select id="getAttractions" parameterType="int"
		resultType="AttractionInfo">
		select *
		from attraction a
		limit 10 offset #{offset}
	</select>

	<select id="getCategoryAttractions" parameterType="map"
		resultType="AttractionInfo">
		select *
		from attraction a
		where a.category = #{category}
		limit 9 offset #{offset}
	</select>

	<select id="getAttraction" parameterType="int"
		resultType="AttractionInfo">
		select *
		from attraction a
		where a.content_id = #{contentId}
	</select>

	<update id="likeAttraction" parameterType="long">
		update attraction
		where content_id = #{contentId}
		set like = like + 1
	</update>

	<select id="getSearchAttractions" parameterType="map"
		resultType="AttractionInfo">
		select *
		from attraction
		where 1=1
		<if test="sidoCode != null and sidoCode != '' and sidoCode != 0">
			and sido_code = #{sidoCode}
		</if>
		<if test="contentTypeId != null and contentTypeId != ''">
			and content_type_id = #{contentTypeId}
		</if>
		<if test="keyword != null and keyword != ''">
			and title like concat('%', #{keyword}, '%')
		</if>
	</select>
</mapper>