<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.model.dao.AttractionCourseDao">

    <select id="getAttractions" parameterType="long" resultType="AttractionCourse">
        select *
        from attraction_course a
        where a.course_id = #{courseId}
    </select>
</mapper>