<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.model.dao.ReviewDao">
	
	<select id="getReviews" parameterType="int" resultType="Review">
		select *
		from review r
		where r.content_id = #{contentId}
	</select>
	
	<select id="getReview" parameterType="long" resultType="Review">
		select *
		from review r
		where r.review_id = #{reviewId}
	</select>
	
	
	<insert id="createReview" parameterType="Review">
		insert into review (content_id, user_id, content, subject)
		value (#{contentId} , #{userId}, #{content} , #{subject})
	</insert>
	
	<update id="putReview" parameterType="map">
		update review r 
		set r.content = #{content}, r.subject = #{subject}
		where r.review_id = #{reviewId}
	</update>
	
	<delete id="deleteReview" parameterType="long">
		delete from review
		where review_id = #{reviewId}
	</delete>
</mapper>